@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --body-color:#fff7ed;
  --primary-color: #f59e0b;
  --dark-gray: #9ca3af;
  --light-gray: #f3f4f6;
  --white: #fafafa;
  --error: #ef4444;
}
/* For typography */
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  background-color: var(--body-color);
}
/* For Containers */

hr {
  margin: 2rem 0;
}
.container {
  padding: 0 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* For hero */
.hero {
  padding: 2rem;
  /* text-align: center; */
}

.hero .hero-heading {
  color: var(--primary-color);
  text-align: center;
}

.hero-subheading {
  color: var(--dark-gray);
  text-align: center;
}

/* For Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-primary:hover{
  cursor: pointer;
}
/* for sections */
.section {
  padding: 2rem;
}

.section h3,
.section h1 {
  text-align: center;
}
.section-off-white {
  background-color: var(--light-gray);
}

.section-output{
  position: relative;
}

.section-error{
  display: none;
  color: var(--error);
  text-align: center;

}

/* For button alignment */

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

textarea,
div#output-div {
  width: 100%;
  border: 2px solid var(--dark-gray);
  display: block;
  padding: 1rem;
  border-radius: 1rem;
  height: 10vh;
  position: relative;
  overflow: scroll;
}

/* background-images */
.background-img {
  position: absolute;
  z-index: -1;
}

.background-img.background-img-1 {
  max-width: 80rem;
  right: -4rem;
  display: block;
  margin: auto;
  top: -12rem;
}
.background-img.background-img-2 {
  right: -19rem;
  max-width: 80rem;
  display: block;
  margin: auto;
  top: -14rem;
}

/* For Lists */
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.unordered-list.list-non-bullet{
    padding-inline-start: 0px;

}

/* For nav */
.navigation {
  background-color: var(--primary-color);
  color:var(--white);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation > .nav-brand {
  font-weight: bolder;
}

.navigation .link {
  color:var(--white);
}

.nav-pills {
  text-align: end;
}

.navigation .link-active {
  font-weight: bold;
}


/* for footer */

.footer{
  padding: 2rem 1rem;
  background-color: var(--primary-color);
  text-align: center;
  border-top-right-radius: 1rem;
}
.footer .link{
  color:var(--white);
}

.footer ul{
padding-inline-start: 0px;
}

.footer .footer-header{
  font-size: large;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .background-img-1,.background-img-2 {
    display: none!important;
  }
}